body {
  background: linear-gradient(#000000,#2716ec);
}
.game_cab {
  position: relative;
  margin: auto;
  width: 600px;
  height: 665px;

  background-color: black;
}

.game_cab::after {
  position: absolute;
  top: 0;
  left: 0;

  content: '';
  width: 100%;
  height: 100%;
  background: url("images/invadbez.png") 0 0 no-repeat;
  background-size: 600px 665px;
}
canvas {
  position: absolute;
  top: 230px;
  left: 60px;

  background-color: black;
  margin: 9px 94px;
  font-family: 'Press Start 2P', cursive;
}

.canvas_when_playing {
  background: url('images/blue-and-purple-cosmic-sky-956999.png') top left no-repeat;
}

button {
  position: absolute;
  left: 275px;
  bottom: 6px;

  width: 60px;
  height: 60px;
  background-color: #e00000;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
