body {
  font-family: 'Press Start 2P', cursive;
  background: linear-gradient(#000000,#2716ec);
}
.game_cab {
  position: relative;
  width: 310px;
  margin: 150px auto 110px;
}
.game_cab::before {
  position: absolute;
  top: -150px;

  content: '';
  width: 100%;
  height: 100%;
  background: url("images/si_logo.png") 0 0 no-repeat;
  background-size: 310px 150px;
}

canvas {
  background-color: black;
}

.canvas_when_playing {
  background: url('images/blue-and-purple-cosmic-sky-956999.png') top left no-repeat;
}

.direction_template {
  position: absolute;
  top: 310px;
  left: -24px;

  width: 180px;
  height: 100px;
  background: url("images/control_template.png") 0 0 no-repeat;
  background-size: 180px 100px;
  z-index: 1;
}

.start_template {
  position: absolute;
  top: 310px;
  left: 155px;

  width: 90px;
  height: 100px;
  background: url("images/start_template.png") 0 0 no-repeat;
  background-size: 90px 100px;
  z-index: 1;
}

.fire_template {
  position: absolute;
  top: 310px;
  right: -24px;

  width: 90px;
  height: 100px;
  background: url("images/laser_template.png") 0 0 no-repeat;
  background-size: 90px 100px;
  z-index: 1;
}

button {
  position: absolute;
  width: 58px;
  height: 58px;
  background-color: #b4b4b4;
  border-style: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;

  box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.68);
}

button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-48%, -50%);

  content: '';
  width: 67%;
  height: 67%;
  border-radius: 50%;
  background-color: #b40000;

  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.68),
  inset 0px 0px 6px 4px rgba(255,255,255,0.18),
  inset 2px 1px 16px 8px rgba(0,0,0,0.4);
}

button:active:after {
  background-color: #ff0000;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.68),
  inset 0px 0px 6px 4px rgba(255,255,255,0.18),
  inset 2px 1px 16px 8px rgba(0,0,0,0.4),
  inset 2px 1px 8px 1px rgba(0,0,0,0.5);
}

.left_button {
  left: 32px;
  top: 21px;
}

.right_button {
  right: 32px;
  top: 21px;
}

.start_button {
  left: 16px;
  top: 7px;
}

.fire_button {
  left: 18px;
  top: 23px;
}

a {
  color: #b40000;
}

footer div {
  display: inline-block;
  font-family: cursive, sans-Serif;
  font-size: 0.65em;
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 900px)
and (orientation: landscape){

body {
  margin: 0;
}

  .game_cab::before {
    display: none;
  }

  .game_cab {
    height: 310px;
    margin: 0 auto;
  }

  .direction_template {
    top: 210px;
    left: -218px;

    width: 218px;
    height: 100px;
    background-size: 218px 100px;
  }

  .start_template {
    top: 110px;
    left: -218px;

    width: 218px;
    height: 100px;
    background-size: 218px 100px;
  }

  .fire_template {
    top: 160px;
    left: 310px;

    width: 160px;
    height: 150px;
    background-size: 160px 150px;
}

.left_button {
  left: 51px;
  top: 21px;
}

.right_button {
  right: 51px;
  top: 21px;
}

.start_button {
  left: 83px;
  top: 8px;
}

.fire_button {
  left: 53px;
  top: 66px;
}

  footer {
    display: none;
  }


}

@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

  .game_cab {
    margin: auto;
    width: 600px;
    height: 665px;
    background-color: black;

    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
  }

  .game_cab::before {
    display: none;
  }

  .game_cab::after {
    position: absolute;
    top: 0;
    left: 0;

    content: '';
    width: 100%;
    height: 100%;
    background: url("images/invadbez.png") 0 0 no-repeat;
    background-size: 600px 665px;
  }
  canvas {
    position: absolute;
    top: 230px;
    left: 60px;
    margin: 9px 94px;
  }

  .direction_template {
    top: 550px;
    left: 0px;

    width: 315px;
    height: 115px;
    background-size: 315px 115px;
  }

  .start_template {
    top: 550px;
    left: 312px;

    width: 155px;
    height: 115px;
    background-size: 155px 115px;
  }

  .fire_template {
    top: 495px;
    right: 0px;

    width: 135px;
    height: 170px;
    background-size: 135px 170px;
  }

  .left_button {
    left: 97px;
    top: 29px;
  }

  .right_button {
    right: 97px;
    top: 29px;
  }

  .start_button {
    left: 49px;
    top: 14px;
  }

  .fire_button {
    left: 40px;
    top: 81px;
  }

  footer {
    display: inline-block;
    margin-top: 0.5em;
    margin-left: 21%;
  }
}


@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {

    .game_cab {
      position: relative;
      margin: auto;
      width: 600px;
      height: 665px;
      background-color: black;

      box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.5);
    }

    .game_cab::before {
      display: none;
    }

    .game_cab::after {
      position: absolute;
      top: 0;
      left: 0;

      content: '';
      width: 100%;
      height: 100%;
      background: url("images/invadbez.png") 0 0 no-repeat;
      background-size: 600px 665px;
    }

    canvas {
      position: absolute;
      top: 230px;
      left: 60px;
      margin: 9px 94px;
    }

  .direction_template {
    display: none;
  }

  .fire_template {
    display: none;
  }

  .start_template {
    top: 575px;
    left: 286px;

    background: url("images/start_template_1.png") 0 0 no-repeat;
    width: 180px;
    height: 90px;
    background-size: 180px 90px;
  }

  .start_button {
    left: 114px;
    top: 6px;

    width: 55px;
    height: 55px;
  }

  footer {
    display: inline-block;
    margin-top: 0.5em;
    margin-left: 28%;
  }

  footer div {
    font-size: 0.9em;
}
